# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/user/application_security/secret_detection/pipeline/configure
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
image: php:8.2-cli
stages:
- install
- test
- coverage
- security
- build
- deploy
- review
- dast
- staging
- canary
- production
- incremental rollout 10%
- incremental rollout 25%
- incremental rollout 50%
- incremental rollout 100%
- performance
- cleanup
cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
  - backend/vendor/
variables:
  COMPOSER_CACHE_DIR: "$CI_PROJECT_DIR/.composer-cache"
  COMPOSER_ALLOW_SUPERUSER: '1'
  APP_ENV: testing
  DB_HOST: localhost
  DB_NAME: anmeldung_test
  DB_USER: test
  DB_PASS: test
  PDF_TOKEN_SECRET: test-secret-key-for-ci-pipeline-min-32-chars-long
  FORCE_HTTPS: 'false'
  AUTH_ENABLED: 'false'
  RATE_LIMIT_ENABLED: 'false'
before_script:
- cd backend
- apt-get update -qq
- apt-get install -y -qq git unzip libpng-dev libjpeg-dev libfreetype6-dev
- docker-php-ext-configure gd --with-freetype --with-jpeg
- docker-php-ext-install pdo pdo_mysql gd
- curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin
  --filename=composer
- composer --version
install_dependencies:
  stage: install
  script:
  - composer install --prefer-dist --no-progress --no-interaction --optimize-autoloader
  cache:
    key: "${CI_COMMIT_REF_SLUG}"
    paths:
    - backend/vendor/
    policy: push
  artifacts:
    paths:
    - backend/vendor/
    expire_in: 1 hour
test_unit:
  stage: test
  dependencies:
  - install_dependencies
  script:
  - composer test -- --testsuite=Unit --testdox --log-junit phpunit-report.xml --no-coverage
  artifacts:
    when: always
    reports:
      junit: backend/phpunit-report.xml
    paths:
    - backend/phpunit-report.xml
    expire_in: 1 week
test_integration:
  stage: test
  dependencies:
  - install_dependencies
  services:
  - mysql:8.0
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: anmeldung_test
    MYSQL_USER: test
    MYSQL_PASSWORD: test
    DB_HOST: mysql
  before_script:
  - cd backend
  - apt-get update -qq && apt-get install -y -qq git unzip default-mysql-client libpng-dev
    libjpeg-dev libfreetype6-dev
  - until mysql -h mysql -u test -ptest --skip-ssl -e "SELECT 1"; do sleep 1; done
  - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin
    --filename=composer
  - docker-php-ext-configure gd --with-freetype --with-jpeg
  - docker-php-ext-install pdo pdo_mysql gd
  - mysql -h mysql -u test -ptest --skip-ssl anmeldung_test < ../database/schema.sql
  script:
  - composer test -- --testsuite=Integration --testdox --log-junit phpunit-report.xml
    --no-coverage
  artifacts:
    when: always
    reports:
      junit: backend/phpunit-report.xml
    paths:
    - backend/phpunit-report.xml
    expire_in: 1 week
  allow_failure: true
coverage:
  stage: coverage
  dependencies:
  - install_dependencies
  before_script:
  - cd backend
  - apt-get update -qq
  - apt-get install -y -qq git unzip libpng-dev libjpeg-dev libfreetype6-dev
  - pecl install xdebug
  - docker-php-ext-enable xdebug
  - docker-php-ext-configure gd --with-freetype --with-jpeg
  - docker-php-ext-install pdo pdo_mysql gd
  - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin
    --filename=composer
  script:
  - export XDEBUG_MODE=coverage
  - composer test:coverage
  - echo "Coverage report generated at backend/coverage/index.html"
  coverage: "/^\\s*Lines:\\s*\\d+\\.\\d+\\%/"
  artifacts:
    paths:
    - backend/coverage/
    expire_in: 30 days
  only:
  - main
  - master
  - develop
lint_php:
  stage: test
  dependencies: []
  before_script: []
  script:
  - find backend/src -name "*.php" -print0 | xargs -0 -n1 php -l
  - find backend/public -name "*.php" -print0 | xargs -0 -n1 php -l
  - find frontend/src -name "*.php" -print0 | xargs -0 -n1 php -l
  - find frontend/public -name "*.php" -print0 | xargs -0 -n1 php -l
  - echo "All PHP files are syntactically valid"
sast:
  stage: test
include:
- template: Auto-DevOps.gitlab-ci.yml
